/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Helvetica Neue', sans-serif;
}
.text-center {
	text-align: center;
}

.h-25 {
	height: 25%;
}
.p-3 {
	padding: 15px;
}
.bg-secondary {
	background-color: lightslategrey;
}
.bg-success {
	background-color: forestgreen;
}
.bg-warning {
	background-color: orange;
}
.bg-danger {
	background-color: darkred;
}
/*Flexbox*/
.d-flex {
	display: flex;
}
/*horizontally centers siplay flex elements*/
.justify-content-center {
	justify-content: center;
}
.align-items-center {
	align-items: center;
}
/*tells the direction of how the elements are positioned a flexed container*/
.flex-column {
	flex-direction: column;
}
.flex-column-reverse {
	flex-direction: column-reverse;
}


